*,
*:after, 
*:before {
    box-sizing: border-box;
}

ul,
li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

section {
    padding: 100px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1490px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    height: 100px;
    border-bottom: #6C6C6C 1px solid;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1490px;
}

.menu__logo {
    width: 148px;
    height: 60px;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 28px;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 20px;
    color: white;
    transition: .3s;
}

.menu__item:hover {
    background-color: #F1F1F1;
    color: black;
}

.menu__item:active {
    border: #6C6C6C solid 1px;
}

.menu__item:last-child {
    margin-right: 0px;
}

.item__link {
    position: relative;
    color: inherit;
}

.item__logo {
    margin-right: 12px;
}

.hero {
    padding: 100px;
    background-image: url(./img/hero\ bg.svg);
}

.hero__card {
    display: flex;
    justify-content: space-between;
    background: rgba(82, 82, 82, 0.6);
    backdrop-filter: blur(30px);
    border: 2px solid #BDBDBD;
    border-radius: 40px;
    padding: 60px 45px;
}

.hero__content {
    width: 465px;
}

.hero__polygons {
    margin: 30px 0px;
}

.hero__subtitle {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 95px;
}

.button {
    font-weight: 700;
    font-size: 24px;
    padding: 20px 60px;
    background-color: #35D0BA;
    border-radius: 20px;
    transition: .3s;
}

.button:hover {
    background-color: #D03589;
}

button:active {
    background-color: #852459;
}

.about {
    text-align: center;
}

.title {
    position: relative;
    display: inline-block;
}

.title--polygon:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: -66px;
}

.purple-polygon:before {
    background: url(./img/purple\ polygon.svg) center center / cover no-repeat;
}

.about__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.about__item {
    background: rgba(82, 82, 82, 0.6);
    backdrop-filter: blur(30px);
    border: 2px solid #BDBDBD;
    border-radius: 40px;
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    height: 446px;
    font-weight: 300;
    font-size: 18px;
}

.item__img-div {
    width: 202px;
    height: 232px;
    background-image: url(./img/about\ lamp\ off.png);
    transition: .3s;
    position: relative;
}

.item__img-div:before {
    content: '';
    width: 115%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: -1;
    border-radius: 50%;
    filter: blur(50px);
    transform: translate(-45%, -7%);
    transition: .3s;
}

.item__img--with-cube {
    position: relative;
    display: block;
    background: url(./img/animated\ cubess\ bg.svg) center center / cover no-repeat;
    height: 255px;
    padding: 0px 15px;
}

.about__item:first-child:hover .item__img-div {
    background-image: url(./img/about\ lamp\ on.png);
}

.about__item:first-child:hover .item__img-div:before {
    background-color: #F8C43A;
}

.about__item:nth-child(-n+2) {
    margin-bottom: 25px;
}

.small-card {
    width: 30%;
}

.large-card {
    width: 68%;
}

.bold {
    font-weight: 700;
}

.blue-polygon:before {
    background: url(./img/blue\ polygon.svg) center center / cover no-repeat;
}

.tests__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
}

.tests__item {
    border-radius: 30px;
    border: 2px #BDBDBD solid;
    padding: 25px 42px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 39px;
    position: relative;
    flex-basis: auto;
    overflow: hidden;
    transition: .3s;
}

.tests__item:hover {
    background-color: #F1F1F1;
    color: black;
}

.tests__item:hover .tag {
    border: 1px solid black;
}

.test__item--raven:hover {
    border: 2px #35D0BA solid;
}

.tests__item--soon {
    color: #BDBDBD;
}

.tests__item--soon img {
    filter: saturate(0);
}

.tests__item--soon:after {
    content: 'СКОРО СКОРО СКОРО';
    position: absolute;
    transform: rotate(-43deg);
    right: -15%;
    bottom: 30%;
    font-weight: 800;
    font-size: 39px;
    padding: 10px 30px;
    background-color: #f8c43a;
    color: black;
}

.tests__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.tests__header {
    font-weight: 700;
    font-size: 40px;
    width: 304px;
}

.tests__text {
    font-size: 24px;
    max-width: 230px;
}

.tag {
    font-weight: 400;
    font-size: 24px;
    padding: 10px 14px;
    border: 1px #BDBDBD solid;
    border-radius: 100px;
}